@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #00156E;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  color: #00156E;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

header .wrapper {
  text-align: center;
}

header .wrapper .logo {
  padding: 20px 0;
}

header .wrapper .nav {
  margin-top: 20px;
}

header .wrapper .nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

header .wrapper .nav-list-item {
  margin: 0 5px;
}

header .wrapper .nav-list-item a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  padding: 20px 10px;
}

header .wrapper .nav-list-item a.active {
  background-color: #B3E5FC;
}

.main {
  background-image: url("/images/fondo-pag-speciali.jpg");
  margin-top: 20px;
  padding: 50px 0;
}

.main section .section-title {
  padding: 5px;
}

.main section .list {
  display: flex;
  flex-wrap: wrap;
}

.main section .list-item {
  list-style: none;
}

.main section .list-item .image {
  position: relative;
  height: 230px;
  margin: 5px;
}

.main section .list-item .image img {
  display: block;
  height: 100%;
}

.main section .list-item .image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main section .list-item .image-overlay-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main section .list-item .image-overlay-link a {
  font-size: 25px;
  font-weight: light;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.main section .list-item .image-overlay-link a img {
  height: 40px;
}

.main section .list-item .image:hover .image-overlay {
  display: flex;
}

.card {
  background-color: #B7DAE5;
  margin-top: 20px;
  width: 100%;
}

.card-title {
  padding-top: 70px;
  text-align: center;
}

.card img {
  width: 100%;
}

.card-description {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 50px;
  color: #00156E;
}

footer {
  color: #7B8495;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}

footer .row .box {
  width: calc(100%/3);
  flex-shrink: 0;
}

footer .row .box-list-item {
  list-style: none;
  line-height: 1.7;
}

footer .row .box-list-item a {
  color: #7B8495;
  text-decoration: none;
}

footer .bottom {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 140px;
}

