*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// TYPOGRAPHY
h2{
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    color: $mainColorTxt;
}

h3{
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}
// /TYPOGRAPHY

body{
    font-family: $mainFont;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}